@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v28-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v28-latin-regular.woff") format("woff");
}
*::after,
*::before,
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* ======== header ========= */
.header {
  margin: 0px auto;
  width: 1300px;
  height: 56px;
  display: flex;
}
.conteiner {
  display: flex;
}
.nav_conte {
  display: flex;
  align-items: center;
}
.nav_ul {
  display: flex;
  list-style: none;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-left: 500px;
}
.button {
  border-radius: 5px;
  width: 159px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #00bafc;
  width: 159px;
  height: 40px;
  right: 100px;
  list-style: none;
  padding: 8px 16px;
  color: white;
}
.nav_ul_li {
  text-transform: capitalize;
  color: black;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.nav_ul_li:hover {
  background-color: #000001;
  color: #fff;
}
.nav_ul_li:active {
  background-color: #5cd4ff;
  color: #fff;
}

.main {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.main-item {
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 0px auto;
}
.main-title {
  margin: 0px auto;
  width: 490px;
  font-weight: 700;
  font-size: 33px;
  line-height: 130%;
  color: #000000;
}
.main-title-in {
  margin-top: 0;
  margin-bottom: 16px;
  width: 490px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.bottom-in {
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  background-color: #00bafc;
  border-radius: 5px;
  border: 1px solid #00bafc;
}
.bottom-in:hover {
  background-color: rgba(0, 186, 252, 0.8);
  border: 1px solid rgba(0, 186, 252, 0.8);
}
.bottom-in:active {
  background-color: rgba(0, 186, 252, 0.6);
  border: 1px solid rgba(0, 186, 252, 0.6);
}
iframe {
  border-radius: 8px;
  border: 2px solid #fff;
}
.subject {
  padding: 56px 0;
}
.main-subject {
  text-align: center;
  margin-bottom: 15px;
}
.main-subject-in {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
.main-subject-in-go {
  margin: 0;
  width: 719px;
  margin-left: auto;
  margin-right: auto;
}
.main-caption-in {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-caption-title {
  width: 310px;
  padding: 24px 59px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 48px;
  margin-right: 52px;
}
.main-caption-title:hover {
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.main-caption-title:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.main-caption-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 16px;
}
.main-caption-item-in {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
.caption-inner {
  text-align: center;
}
.caption-inner-in {
  color: #00bafc;
  margin-left: 16px;
}
.headline-in {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
.headline-in-go {
  margin: 0 auto;
  width: 719px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.heading {
  margin: 0;
  padding: 0;
}
.headline {
  padding-top: 100px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 0;
}
.heading-in {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}
.heading-in:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}
.heading-item {
  width: 493px;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  text-align: left;
  color: #000000;
}
.heading-item-in {
  width: 493px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.main-tagline {
  background-color: #00bafc;
  text-align: center;
  padding-top: 58px;
  padding-bottom: 58px;
}
.main-tagline-in {
  text-align: center;
}
.main-tagline-in-go {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
}
.main-tagline-inner {
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 719px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}
.main-lead-go {
  text-align: center;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 333px;
  padding: 24px;
  border-radius: 5px;
}

.main-lead {
  text-align: center;
  display: inline;
  background-color: #fff;
  border-radius: 5px;
}
.main-lead-in {
  border: 1px solid #fff;
  margin-bottom: 16px;
  padding: 10px;
  display: inline;
  width: 286px;
  background-color: #f3f3f3;
  border-radius: 5px;
}
.main-lead-in-go {
  border: 1px solid #fff;
  background-color: #f3f3f3;
  display: block;
  width: 286px;
  padding: 10px;
  border-radius: 5px;
  appearance: none;
  background-image: url("../images/uchburchak.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.footer-title {
  background-color: #000000;
}
.footer-inner {
  width: 300px;
}
.footer-item {
  padding: 56px 100px;
  margin: 0;
  color: #fff;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.footer-item-in {
  color: #fff;
  margin-top: 0;
  margin-bottom: 16px;
}
.footer-item-in-go-the {
  color: #fff;
  margin-top: 0;
  margin-bottom: 8px;
}
.footer-item-in-go {
  color: #fff;
  margin-top: 0;
  margin-bottom: 8px;
}
.pic:hover {
  opacity: 1;
}
.pic:active {
  opacity: 0.5;
}
.footer-item-in-go:hover {
  color: #00bafc;
}
.footer-item-in-go:active {
  color: #0083b3;
}
/* ==============    xizmatlarimiz   =========== */
.xiz_main {
  margin: 0px auto;
  width: 1300px;
  justify-content: center;
}
.xizmat {
  padding: 72px;
  justify-content: center;
  align-items: center;
  height: 284px;
  border: #000000 solid 1px;
}
.xiz_h1_1 {
  text-transform: uppercase;
  font-family: Open Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
}
.xiz_p_1 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.xiz_ser {
  background-color: #f4f4f4;
  width: 1300px;
  margin: 0px auto;
  height: 2274px;
  padding-top: 64px;
}
.xiz_ser_sayt {
  display: flex;
  margin: 64px auto;
  flex-direction: row;
  align-items: flex-start;
  padding: 32px;
  gap: 40px;
  width: 804px;
  background: #ffffff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.xiz_ser_sayt_img {
  height: 128.20851135253906px;
  width: 200px;
  left: 32px;
  top: 32px;
  border-radius: 0px;
}
.xiz_ser_sayt_h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.xiz_ser_sayt_p_1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.xiz_ser_sayt_ul {
  color: #00bafc;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.xiz_ser_sayt_but {
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  color: #ffffff;
  width: 167px;
  height: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background: #00bafc;
  border-radius: 5px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.xiz_ser_sayt_link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #00bafc;
}
/* =======   telegramm =========== */
